.bi{
    color: white;
    font-size: 40px;
}

.d-flex{
    margin-left: auto;
    padding: 20px;
}

.btn{
    border: 2px solid white;
    color: white;
}

.navbar{
    border-radius: 0 0 20px 20px;
    z-index: 100;
    width: 100%;
    background-color: #212529;
}
.txt{
    color: white;
    font-size: 25px;
    align-items: center;
    margin-left: 5px;
}